@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,700&family=Oswald:wght@400;700&family=Roboto&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eed2d2;
}

#parent {
    display: flex;
    height: 100vh;
    padding: 15px;
}

#inside-border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 7px solid white;
}

h1 {
    color: white;
    font-family: "Inknut Antiqua", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5.5rem;

}

h2 {
    color: white;
    font-family: "Inknut Antiqua", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem;
}