body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 100px;
}

.logo {
    width: 150px;
    padding: 12px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 5px 15px;
}

a:hover {
    color: #188ecc;
}

a:active {
    color: #70bae3;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    width: 100%;
    height: 550px;
    background-image: url(background.jpg);
    background-size: cover;
    filter: brightness(60%);
}

.quote {
    position: absolute;
    top: 10%;
    padding-top: 70px;
    padding-left: 190px;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #188ecc;
    height: 19.1em;
}

.box-1 {
    padding-left: 200px;
    color: white;
    font-size: 1.3rem;
}

.pic-1 {
    width: 100px;
    padding-top: 20px;
    padding-left: 100px;
}

h2 {
    font-family: sans-serif;
}

.heading-1 {
    display: flex;
    text-align: center;
}

.text-1 {
    display: flex;
    text-align: center;
    font-family: sans-serif;
    padding-left: 7px;
    font-size: 1rem;
}

.button-1 {
    background-color: white;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: #188ecc;
    margin-left: 85px;
}

.box-2 {
    padding-left: 200px;
    color: white;
    font-size: 1.3rem;
}

.pic-2 {
    width: 80px;
    padding-left: 230px;
}

.text-2 {
    display: flex;
    text-align: center;
    font-family: sans-serif;
    padding-left: 50px;
    font-size: 1rem;
}

.heading-2 {
    display: flex;
    text-align: center;
    padding-left: 130px;
}

.button-2 {
    background-color: white;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: #188ecc;
    margin-left: 200px;
}

.box-3 {
    padding-left: 200px;
    color: white;
    font-size: 1.3rem;
}

.pic-3 {
    width: 55px;
    padding-top: 12px;
    padding-left: 100px;
}

.heading-3 {
    padding-top: 10px;
    padding-right: 150px;
}

.text-3 {

    font-family: sans-serif;
    font-size: 1rem;
}

.button-3 {
    background-color: white;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: #188ecc;
    margin-left: 80px;
}
