* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eed2d2;
}

#parent {
    display: flex;
    height: 100vh;
    padding: 15px;
}

#inside-border {
    height: 100%;
    width: 100%;
    border: 7px solid white;
}